doctypehtml
html(lang="en")
  head
    script(src="/static/js/jquery.min.js")
    
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/bootstrap-theme.min.css")
    script(src="/static/js/bootstrap.min.js")
  
  body
    h1(class="text-center") Nothing here yet!
