extends ./wrapper.jade

block content
  div(class="big-text text-center") Get stuff done.
  div(class="med-text text-center") (With Gualy)

  hr

  .row
    .col-md-6
      .med-text Gualy:
      .sma-text
        ul
          li Keeps track of what you want to get done.
          li Keeps track of what you have done.
          li Lets you see what other people have done.
          li Lets other people see all that you've done.
        span BUT
        ul
          li Lets you keep what you want private.
          li Lets you keep EVERYTHING private.

    .col-md-6
      .med-text Some of our admiring fans:
      ul
        li.quote-block
          .quote "I use and love Gualy. I also made it, so that's not saying much."
          .quote-author -Cerek Hillen
        li.quote-block
          .quote "It's pretty okay, I guess."
          .quote-author -Also me, depending on my mood.
