extends ./wrapper.jade

block js-extra
  script(src="/static/js/jsonutils.js")
  script(src="/static/js/login.js")

block css-extra
  link(rel="stylesheet" href="/static/css/login.css")

block content
  .row
    .col-md-6
      h1 Login
      form#loginForm(role="form")
        .form-group
          label(for="loginUsernameInput") Username
          input(id="loginUsernameInput" class="form-control" type="text" name="username" placeholder="Enter username." required)

        .form-group
          label(for="loginPasswordInput") Password
          input(id="loginPasswordInput" class="form-control" type="password" name="password" placeholder="Enter password." required)

        .form-group
          button(class="btn btn-default" type="submit") Login

    .col-md-6
      h1 Register
      form#registerForm(role="form")
        .form-group
          label(for="registerUsernameInput") Username
          input(id="registerUsernameInput" class="form-control" type="text" name="username" placeholder="Enter username." required)

        .form-group
          label(for="registerPasswordInput") Password
          input(id="registerPasswordInput" class="form-control" type="password" name="password" placeholder="Enter password." required)

        .form-group
          label(for="registerCPasswordInput") Confirm Password
          input(id="registerCPasswordInput" class="form-control" type="password" name="cpassword" placeholder="Confirm password." required)

        .form-group
          button(class="btn btn-default" type="submit") Register
      h4
        small (Don't worry, your password is in a 1-way hash.)
