extends ./wrapper.jade

block js-extra
  script(src="/static/js/jsonutils.js")
  script(src="/static/js/manage.js")

block css-extra
  link(rel="stylesheet" href="/static/css/manage.css")

block content
  if logged
    .row
      .col-md-3
        form(id="goalForm" role="form")
          .form-group
            label(for="goalTitleInput") Your New Goal:
            input(id="goalTitleInput" class="form-control" type="text" name="goal" placeholder="Enter your new goal!" required)
          .form-group
            button(class="btn btn-default" type="submit") Submit
      .col-md-9
        if data.goals.length == 0
          h1.text-center You do not have any goals yet.
        else
          ul
            - for (var i = 0; i < data.goals.length; i++)
              li(data-gid="#{data.goals[i]._id}")
                if data.goals[i].completed
                  h3.done-goal
                    span= data.goals[i].value
                    span.left-margined
                      button.goal-remove(class="btn btn-danger")
                        span(class="glyphicon glyphicon-remove")
                  h6.small Done!
                else
                  form(class="form-inline goal-editor" role="form")
                    .form-group
                      input(class="form-control" type="text" name="newtext" placeholder="Edit your goal!" required)
                    .form-group
                      button(class="btn btn-default" type="submit")
                        span(class="glyphicon glyphicon-ok")
                  h3.goal-container
                    span.goal-value= data.goals[i].value
                    span.left-margined
                      button.goal-done(class="btn btn-success")
                        span(class="glyphicon glyphicon-ok")

                      button.goal-edit(class="btn btn-info")
                        span(class="glyphicon glyphicon-pencil")

                      button.goal-remove(class="btn btn-danger")
                        span(class="glyphicon glyphicon-remove")
                  h6.small Keep on going!
  else
    h1.text-center You must log in to manage using Gualy.
