extends ./wrapper.jade

block js-extra
  script(src="/static/js/jsonutils.js")
  script(src="/static/js/manage.js")

block css-extra
  link(rel="stylesheet" href="/static/css/manage.css")

block content
  if logged
    .row
      .col-md-3
        form(id="goalForm" role="form")
          .form-group
            label(for="goalTitleInput") Your New Goal:
            input(id="goalTitleInput" class="form-control" type="text" name="goal" placeholder="Enter your new goal!" required)
          .form-group
            button(class="btn btn-default" type="submit") Submit
      .col-md-9
        if data.goals.length == 0
          h1.text-center You do not have any goals yet.
        else
          ul
            - for (var i = 0; i < data.goals.length; i++)
              li(data-gid="#{data.goals[i]._id}")
                h3
                  span= data.goals[i].value
                  
                  span.left-margined
                    button.goalDone(class="btn btn-success")
                      span(class="glyphicon glyphicon-ok")

                    button.goalEdit(class="btn btn-info")
                      span(class="glyphicon glyphicon-pencil")

                    button.goalRemove(class="btn btn-danger")
                      span(class="glyphicon glyphicon-remove")
  else
    h1.text-center You must log in to manage use Gualy.
