extends ./wrapper.jade

block search-block
  .row
    h1.text-center Search For a User
    div(class="col-md-6 col-md-offset-3")
      form(action="/search/" method="GET" role="search")
        .form-group
          if data.hasQuery
            input(class="form-control" type="text" name="user" placeholder="Search for users." value="#{data.query}")
          else
            input(class="form-control" type="text" name="user" placeholder="Search for users.")
        .form-group
          button(class="btn btn-default" type="submit") Search

block content
  block search-block

  if data.hasQuery
    hr
    if data.hasUsers
      h1.text-center Users Found
      .row
        div(class="col-md-6 col-md-offset-3")
          ul
            - for (var i = 0; i < data.users.length; i++)
              li
                h3
                  a(href="/user/#{data.users[i].username}") #{data.users[i].username}
    else
      h1.text-center No Users With a Similar Username
