doctype html
html(lang="en")
  head
    title Gualy
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block css
      link(rel="stylesheet", href="/static/css/bootstrap.min.css")
      link(rel="stylesheet", href="/static/css/style.css")

    block css-extra

    block js
      script(src="/static/js/jquery.min.js")
      script(src="/static/js/jquery.cookie.js")
      script(src="/static/js/bootstrap.min.js")
      script(src="/static/js/messagecontrol.js")  

    block js-extra
  body
    nav(class="navbar navbar-default")
      .container-fluid
        .navbard-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sub-navbar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href="/") Gualy

        div(class="collapse navbar-collapse", id="sub-navbar")
          ul(class="nav navbar-nav")
            li
              a(href="#") Site Under Construction
            form(action="/search/" method="GET" class="navbar-form navbar-left" role="search")
              .form-group
                input(class="form-control" type="text" name="user" placeholder="Search for users.")
              .form-group
                button(class="btn btn-default" type="submit")
                  span(class="glyphicon glyphicon-search")

          ul(class="nav navbar-nav navbar-right")
            if logged
              li
                a(href="/manage/") Manage Your Goals
              li
                a(href="/user/" + username) My Profile
              li
                a(href="/logout/") Logout
            else
              li
                a(href="/login/") Login / Register

    .row
      #messageArea(class="col-md-2 col-md-offset-5 text-center alert" role="alert")

    .container
      block content
